* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
}

.background-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://i.postimg.cc/KzgTCGJ2/image-2024-07-26-004421405.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.home-back {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: aliceblue;
}

.sreda {
    align-content: center;
}

.tam-gore {
    float: none;
    list-style: none;
    padding: 0;
    margin: auto;
}

    .tam-gore li {
        display: inline-block;
        margin: 10px;
        float: none;
    }

        .tam-gore li a {
            color: aliceblue;
            text-decoration: none;
            padding: 10px 20px;
            font-family: Andale Mono, monospace;
            font-size: 20px;
            border: 1px solid aliceblue;
            border-radius: 30px;
            transition: background-color 0.3s, color 0.3s;
            float: none;
        }

            .tam-gore li a:hover {
                background-color: aliceblue;
                color: rgb(163, 0, 0);
            }

.logo img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.welcome-text {
    color: white;
    font-family: Andale Mono, monospace;
}

    .welcome-text h1 {
        font-size: 60px;
        margin-bottom: 20px;
        color: white;
    }

    .welcome-text a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px;
        border: 1px solid aliceblue;
        border-radius: 30px;
        color: white;
        transition: background-color 0.3s, color 0.3s;
    }

        .welcome-text a:hover {
            background-color: aliceblue;
            color: rgba(0, 0, 63, 0.744);
            border-radius: 30px;
        }
