@page
@model Avengers.Pages.HomeworkAssignmentModel
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Mvc

@{
    ViewData["Title"] = "Homework Assignment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <h1 class="text-center mb-4 title-white">@ViewData["Title"]</h1>
               
                <hr />
                <div class="card p-4 shadow-sm">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="Homework_assignments.Subject" class="control-label"></label>
                            <select asp-for="Homework_assignments.SubjectId" class="form-control" asp-items="ViewBag.SubjectId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Homework_assignments.Teacher" class="control-label"></label>
                            <select asp-for="Homework_assignments.TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Homework_assignments.DueDate" class="control-label"></label>
                            <input asp-for="Homework_assignments.DueDate" class="form-control" />
                            <span asp-validation-for="Homework_assignments.DueDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Homework_assignments.Title" class="control-label"></label>
                            <input asp-for="Homework_assignments.Title" class="form-control" />
                            <span asp-validation-for="Homework_assignments.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Homework_assignments.Description" class="control-label"></label>
                            <textarea asp-for="Homework_assignments.Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="Homework_assignments.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>

                <div class="text-center mt-4">
                    <a class="btn btn-secondary" asp-page="Index" style="border-radius: 30px; color:aliceblue;">Home</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
