@page "/"
@model Avengers.Pages.HomePageModel
@{
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Avengers</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/jpeg" sizes="32x32" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="apple-touch-icon" type="image/jpeg" sizes="180x180" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="icon" type="image/jpeg" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <!-- Custom Stylesheet -->
    <link href="css/homepage.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="background-image"></div>
    <header>
        <div class="home-back">
            <div class="logo">
                <a href='https://postimages.org/' target='_blank'>
                    <img src='https://i.postimg.cc/j5Cc2Ycg/avengers-logo.png' border='0' alt='avengers-logo' />
                </a>
            </div>
            <div class="welcome-text">
                <div class="sreda">
                <h1>We are team Avengers</h1>
                <ul class="tam-gore">
                    <li><a href="/Login">Login</a></li>
                    <br />
                    <li><a href="/Register">Register</a></li>
                </ul>
</div>
            </div>
        </div>
    </header>
</body>
</html>