@page
@model Avengers.Pages.HomepageModel
@{

}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Avengers</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/jpeg" sizes="32x32" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="apple-touch-icon" type="image/jpeg" sizes="180x180" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="icon" type="image/jpeg"   href ="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
   <!-- Custom Stylesheet -->
<!--<link href="css/style.css" rel="stylesheet"> 
<link href="css/ourstyle.css" rel="stylesheet">-->
<link rel="stylesheet" href="homepage.css" > 
</head>
<body>
    <header>
        <div class="home-back">
            <div class="logo">
            <img src="C:\Users\User\Documents\AIBEST\Avengers_README.md at main · CaptainJackCat777_Avengers_files\Avengers\Avengers\wwwroot\images\avengers-logo.png"/>
            </div>
        <ul class="tam-gore">
            <!--<li> <a href="#">Login</a></li>
            <li> <a href="#">Register</a></li>-->
        </ul>
        <div class="welcome-text">
            <h1>We are team Avengers</h1>
            <a href="C:\Users\User\Documents\AIBEST\Avengers_README.md at main · CaptainJackCat777_Avengers_files\Avengers\Avengers\Pages\Login.cshtml">Login</a>
            <br>
            <a href="C:\Users\User\Documents\AIBEST\Avengers_README.md at main · CaptainJackCat777_Avengers_files\Avengers\Avengers\Areas\Identity\Pages\Account\Register.cshtml">Register</a>
        </div>
    </div>
    </header>
</body>
