@page
@model Avengers.Pages.LoginModel
@{
}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/jpeg" sizes="32x32" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="icon" type="image/jpeg" sizes="16x16" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="apple-touch-icon" type="image/jpeg" sizes="180x180" href="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="icon" type="image/jpeg"   href ="https://i.pinimg.com/originals/0d/47/10/0d471098df73a378718394d893456511.jpg">
    <link rel="stylesheet" href="styles.css">
    <script src="scripts.js" defer></script>
</head>
<body>

    <div class="logo"><img src="avengers-logo.png" width="200px"></div>

    <div class="wrapper">
        <div class="login-box">
            <div class="login-header">
                <span>Login</span>
            </div>
            <div class="input-box">
                <input type="text" id="user" class="input-field" required>
                <label for="user" class="label">Username</label>

            </div>
            <div class="input-box">
                <input type="password" id="pass" class="input-field" required>
                <label for="pass" class="label">Password</label>

            </div>
            <div class="remember-forgot">
                <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember"> Remember me </label>
                </div>
                <div class="forgot">
                    <a href="#"> Forgot password?! </a>
                </div>
            </div>
            <div class="input-box">
                <input type="submit" class="input-submit" value="Login">
            </div>
            <!--<div class="register">
              <span> Don't have an account? <a href="#">Register</a></span>
            </div>-->
        </div>
    </div>
</body>
