@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="privacy-policy">
<h1>@ViewData["Title"]</h1>
<head>
    <link href="css/style.css" rel="stylesheet">
</head>

<p>Introduction
Welcome to Avengers! We are committed to protecting your privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website Avengers, use our services, or engage with our content related to school and homework files. Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.
<br />
<b>Information We Collect</b>
<br />
Personal Information
<br />
<i>When you use our website, we may collect personally identifiable information, such as:</i>
<br />
Name
<br />
Email address
<br />
School name
<br />
Grade level
<br />
Usernames and passwords
<br />
Non-Personal Information
<br />
<i>We may also collect non-personal information about you, such as:</i>
<br />
IP address
<br />
Browser type
<br />
Operating system
<br />
Access times
<br />
Pages viewed directly before and after accessing the website
<br />
Device information
<br />
Cookies and Tracking Technologies
<br />
<i>We may use cookies, web beacons, tracking pixels, and other tracking technologies on the website to help customize the website and improve your experience.</i>
<br />
<b>How We Use Your Information</b>
<br />
<i>We use the information we collect in the following ways:</i>
<br />
To provide, operate, and maintain our website and services
To improve, personalize, and expand our website and services
To understand and analyze how you use our website and services
To develop new products, services, features, and functionality.</p>
</div>

